[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"
flake8 = "*"
isort = "*"

[packages]
requests = "*"
Flask = "*"
Pillow = "*"
opencv-python = "*"
flask-bootstrap = "*"
flask-login = "*"
flask-sqlalchemy = "*"
tensorflow = "==1.14"
matplotlib = "*"
numpy = "==1.16.1"
keras = "*"

[requires]
python_version = "3"
