<html>
    <body>
        <form method="POST" action="/" enctype="multipart/form-data">
            <input type="file" name="file" />
            <input type="submit" value="Upload" />
        </form>

        {% if uploaded_files %}
        <h1>Uploaded Files</h1>
        <ul>
            {% for name, type in uploaded_files %}
            {% set endpoint = "/get_image_captions" if type == "images" else "/chunking" %}
            <li><a href="{{ endpoint }}?file={{ name }}">{{ name }}</a> [<a href="/{{ type }}/{{ name }}/delete">Delete</a>]</li>
            {% endfor %}
        </ul>
        {% endif %}
    </body>
</html>