{% extends 'base.html' %}

{% block content %}
    <main role="main">
        <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Upload new footage</h1>
            <p class="lead text-muted">Accepted Video Formats: .mp4</p>
            <p>
            <form method="POST" action="/files/upload" enctype="multipart/form-data" id="upload-form">
                <label class="btn btn-primary" for="my-file-selector">
                    <input id="my-file-selector" type="file" name='file' style="display:none">
                    Select File
                </label>
                <span class='label label-info' id="upload-file-info"></span>
                <label class="btn btn-secondary" id="submit-file-btn">
                    Upload
                </label>
            </form>
            </p>
        </div>
        </section>

        {% if uploaded_files %}
        <h1>Uploaded Files</h1>
        <ul>
            {% for name, type in uploaded_files %}
            {% set endpoint = "/process/" + type.replace("uploads/", "") + "/detect" if type == "uploads/images" else "/process/chunking" %}
            <li><a href="{{ endpoint }}?file={{ name }}">{{ name }}</a> [<a href="/files/{{ type }}/{{ name }}/delete">Delete</a>]</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if keyframes %}
        <h1>Keyframes</h1>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                {% for name, type in keyframes %}
                {% set endpoint = "/files/" + type + "/process/get_image_captions" %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <a href="#img{{ name }}">
                        <img class="card-img-top img-responsive" src="/files/{{ type }}/{{ name }}" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                        </a>
                        <a href="#_" class="lightbox" id="img{{ name }}">
                        <img src="/files/{{ type }}/{{ name }}">
                        </a>                        
                        <div class="card-body">
                            <p class="card-text"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="goto('/files/{{ type }}/{{ name }}')">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="goto('/files/{{ type }}/{{ name }}/delete')">Delete</button>
                                </div>
                                <small class="text-muted"></small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </main>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="module" src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/popper.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/holder/2.9.6/holder.min.js"></script>
    <script>
        let my_file_selector = $('#my-file-selector')
        let upload_file_info = $('#upload-file-info')
        let submit_file_btn = $('#submit-file-btn')
        let upload_form = $('#upload-form')

        my_file_selector.change(() =>
            upload_file_info.html(my_file_selector.prop('files')[0].name))
        
        submit_file_btn.click(() => upload_form.submit())

        function goto(url) {
            window.location = url
        }
    </script>
{% endblock %}